@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
}
.page-body{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 14px;
}
.container{
    width: 1170px;
    margin: 0 auto;
    padding: 0;
}

/* START HEADER */
/* ---------------------nav--------------------- */
/* --logo-- */
.page-header{
    height: 438px;
    background-image: url(../images/page-header/header-background.jpeg);
    background-size: 105%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 105%;
    background-attachment: fixed;
    text-align: center;
}
.page-header_nav{
    height: 70px;
    margin: 0;
    padding: 0;
    background-color: #313131;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-header_nav_logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 205px;
    height: 100%;
    margin: 0;

    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

/* --main-menu-- */
.page-header_nav_main-menu{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-header_nav_main-menu-item{
    margin-right: 35px;
}

.page-header_nav_main-menu-item-link{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}
.page-header_nav_main-menu-item-link:hover{
    color: #14B9D5;
}

/* --search-- */
.page-header_nav_search{
    display: block;
    width: 68px;
    height: 70px;
    margin: 0;
    padding: 27px 25px 26px 26px;
    background-color: #000;
}

/* ------------------------------------------------ */
.page-header_title{
    margin: 164px auto 0;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.page-header_button{
    display: inline-block;
    vertical-align: bottom;
    width: 170px;
    height: 55px;
    border-radius: 4px;
    margin: 44px 10px 0;
    margin-top: 44px;
    padding: 16px 0 17px;
    background-color: #89CA62;

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}

.blue-color{
    background-color: #14B9D5;
}

/* START MAIN */

.section_header{
    width: 100%;
    text-align: center;
}

.section_title{
    margin: 0;
    padding: 49px 0 52px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}

/* Section 1 */
.mp-posts{
    height: 1030px;
    background-color: #F2F2F2;;
}

.posts{
    height: 860px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
}

.posts_item{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-bottom: 30px;
    text-align: center;
}
.posts_item-text{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;;
}

/* Section 2 */
.our-clients{
    height: 588px;
    background-image: url(../images/main-content/s2_our-clients/our-clients-background.jpeg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

.our-clients > .container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.second-section_title{
    padding: 106px 0 87px;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
}

.section_header_decor-line{
    width: 60px;
    height: 3px;
    margin: 0 auto;
    background-color: #18B4CF;
    border: none;
}

.clients{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

/* Section 3 */
.latest-posts{
    height: 326px;
}

.latest-posts_list{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.latest-posts_list-item-photo{
    width: 100%;
}

/* Section 4 */

.liked-posts{
    min-height: 1660px;
}

.liked-posts_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

.liked-posts_list-item{
    background-color: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.mini-container{
    text-align: right;
    padding: 0 14px;
}
.pad{
    padding: 12px 14px;
}

.item-1{
    grid-area: item1;
    display: flex;
}

.item-2{
    grid-area: item2;
    text-align: center;
}

.item-3{
    grid-area: item3;
}

.item-4{
    grid-area: item4;
}

.item-5{
    grid-area: item5;
}

.item-6{
    grid-area: item6;
}
.item-7{
    grid-area: item7;
    text-align: center;
}

.item-8{
    grid-area: item8;
    display: flex;
}

.liked-posts_list-item-photo{
    width: 100%;
    height: 100%;
}

.liked-posts_list-item-title{
    margin: 0;
    padding: 15px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.liked-posts_list-item-text{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

/* START FOOTER */

.page-footer{
    background-color: #000000;
}

.page-footer>.container{
    height: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-template-areas:
    "footer-item1 footer-item2";
    justify-items:  self-start;
    align-content: center;
}

.copyright{
    font-size: 13px;
    line-height: 13px;
    color: #fff;
    grid-area: footer-item1;
}

.page-footer_logo-image{
    grid-area: footer-item2;
    justify-self: self-end;
}

.first-child{
    margin: 8px 68px 0 0 ;
}
